

<section>
  <div class="container "> 
    <div class="row">
      <div class="col-xl-12 col-md-12 ruta-dir mt-3 mt-sm-2 fontw-300 spasing_02">
    <a class="breadcrumb-list-item" href="#">Home</a> <a class="breadcrumb-list-item" href="#">Muebles para sala</a> <a class="breadcrumb-list-item" href="#">Sofas para la sala</a> <a class="breadcrumb-list-item" href="#">Dos puestos</a>

      </div>
    </div>
  
  </div>

  <div class="container " style="line-height: 1.5rem;">
    <div class="row">
      <div class="col-xl-12 col-md-12 mt-5 mt-sm-3 mb-0">
        
    <p class="font-title fontw-600">  Sofa para la sala </p>
    <p class="font-result">  65 Resultados </p>

      </div>
    </div>
  </div>

</section>

<section>
<div class="container">   
    <div class="row">

    <div class="col-12">
      <ul class="my-ul-1">
        <li class="my-li-1">
          <a>Dropdown Link</a>
          <ul class="my-ul-2">
            <li class="my-li-2"><a href="#">Link 1</a></li>
            <li class="my-li-2"><a href="#">Link 2</a></li>
            <li class="my-li-2"><a href="#">Link 3</a></li>
            
          </ul>
        </li>
        
        
        <li class="my-li-1">
          <a>Dropdown Link</a>
          <ul class="my-ul-2">
            <li class="my-li-2"><a href="#">Link 1</a></li>
            <li class="my-li-2"><a href="#">Link 2</a></li>
            <li class="my-li-2"><a href="#">Link 3</a></li>
            
          </ul>
        </li> 
       
        
       
      
      </ul>
      
    </div>








      <div class="col-lg-3 col-sm-6 mt-2 d-flex align-items-stretch" *ngFor="let item of product">

         <!-- Card-->
         <div [routerLink]="[ '/producto', item.PRODUCTO ]" class="card  card-ecommerce bs-none">

          <!-- Card image-->
          <div class="view overlay mt-2">

            <img src="assets/img/productos/descargar (1).jpg" class="img-fluid"
              alt="">

            <a>

              <div class="mask rgba-white-slight"></div>

            </a>

          </div>
          <!-- Card image-->

          <!-- Card content-->
          <div class="card-body">

            <!-- Category & Title-->
            <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">{{item.NOMBRE}}</a></strong></h5>

            <span class="badge grey mb-2">best rated</span>

            <!-- Rating-->
            <ul class="rating">
              
              <li>
                <button type="button" class="btn-img">
                  <img src="assets/icons/colores/amarillo.jpg" class="rounded-circle" alt="Cinque Terre">
                </button>
              </li>
              <li>
                <button type="button" class="btn-img">
                  <img src="assets/icons/colores/rojo.jpg" class="rounded-circle" alt="Cinque Terre">
                </button>
              </li>
              <li>
                <button type="button" class="btn-img">
                  <img src="assets/icons/colores/azul.jpg" class="rounded-circle" alt="Cinque Terre">
                </button>
              </li>

             <li>
               <button type="button" class="btn-img">
                 <img src="assets/icons/colores/naranja.jpg" class="rounded-circle" alt="Cinque Terre">
                </button>
              </li>
             <li>
               <button type="button" class="btn-img">
                 <img src="assets/icons/colores/verde.jpg" class="rounded-circle" alt="Cinque Terre">
                </button>
              </li>
             
            </ul>

            <!-- Card footer-->
            <div class="card-footer ">

              <div class="row ">
                <div class="col-12">
                  
                <span class="float-left"><strong>1439$</strong></span>

                <span class="float-right">

                  <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                      class="fas fa-shopping-cart ml-3"></i></a>

                </span>
                </div>

              </div>

            </div>

          </div>
          <!-- Card content-->

        </div>
        <!-- Card-->

        <!-- Card -->
      </div>


    </div>

  </div>

  </section>