<header>
  <app-sidebar></app-sidebar>
  <app-navbar></app-navbar>
  <div class="container-fluid mx-0 px-0 disp-n-lm">
    <nav class="navbar navbar-expand-lg navbar-dark primary-color" style="padding: 0 1rem;">
      <div class="container-fluid nav-top ">
        <a class="font-weight-bold white-text mr-4" href="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
          <ul class="navbar-nav" style="margin-right: auto; margin-left: auto;">





            <li class="nav-item" *ngFor="let item of arrayMEnuS">
              <a class="nav-link no-caret" (click)="viewsMega_menu(item.ID_GRUPO)"
                style="padding: .2rem 1rem;">{{item.NOMBRE}}</a>
            </li>










          </ul>


        </div>

      </div>

    </nav>

  </div>

  <!-- TODO: [EN-29] Mega menu usando la api de C# -->
  <div *ngIf="scroll.Mega_menu" class="container-fluid position-absolute" style="z-index: 999; background: #fff; border-bottom: 2px solid;">
    <div class="row mb-4 pr-5 pl-5 justify-content-center">
      <div class=" col-xl-2 mt-3" *ngFor="let item of datos">
        <div *ngIf="item.TITULO != 'OFERTA'">
          <h6 class="sub-title  font-weight-bold ">{{item.TITULO}}</h6>
          <ul class="list-group">
            <li style="border: 0px; margin: 10px;" *ngFor="let itemChildre of item.SUBCAT"
              class="my-list list-group-item d-flex under-line justify-content-between align-items-center">
              <a [routerLink]="[ '/path', routeParam ]">{{itemChildre.NOMBRE}}</a>
            </li>

          </ul>
        </div>
        <div *ngIf="item.TITULO == 'OFERTA'">
        
          <div class="view overlay mb-3 z-depth-1">
            <img  [src]="item.IMAGEN_URL | img" class="img-fluid"
              alt="First sample image">
            <div class="mask flex-center rgba-white-slight">
              <p></p>
            </div>
          </div>
         
        </div>

      </div>
    </div>
  </div>
</header>



<div (scroll)="EventScroll($event)">

  <router-outlet></router-outlet>
</div>

<!-- <br>
<br>
<br>
<img src="assets/img/svg/user.svg" width="19px" alt="Kiwi standing on oval">
<img src="assets/img/svg/message.svg" width="19px" alt="Kiwi standing on oval">
<br>
<br>
<br> -->

<app-footer></app-footer>


<!-- <app-search></app-search> -->