<nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
    <div class="container-fluid width-80">
      <div class="float-left mr-3 mt-2">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fas fa-bars my-size"></i>
        </a>
      </div>
      <a class="navbar-brand font-weight-bold" href="#">
        <img src="assets/img/logo-pagina.png" class="img-fluid flex-center">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-search"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav" style="width: 100%;">
          
          <li class="nav-item ml-auto mr-auto mt-1">
            <div class="waves-effect waves-light dark-grey-text font-weight-bold" href="#">
              <div class="header-search-form">
                <input type="text" [formControl]="search" placeholder="Buscar">
                <button><i class="fa fa-search"></i></button>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown ml-2">
            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" id="navbarDropdownMenuLink-4"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <div class="row dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
              <a class="dropdown-item waves-effect waves-light" href="#">Settings</a>
              <a class="dropdown-item waves-effect waves-light" href="#">Log out</a>
            </div>
          </li>
          <li nav-item="nav-item" dropdown="dropdown">
            <a class="nav-link waves-effect ml-2 waves-light dark-grey-text font-weight-bold arrow-r">
              <i class="fas fa-shopping-cart"></i>
              <i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="../cart/cart-v1.html" class="waves-effect">Cart V.1</a>
                </li>
                <li>
                  <a href="../cart/cart-v2.html" class="waves-effect">Cart V.2</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>