<ul id="slide-out" class="side-nav custom-scrollbar">
    <li>
      <div class="logo-wrapper waves-light">
        <a href="#">
          <img src="assets/img/logo-pagina.png" class="img-fluid flex-center">
        </a>
      </div>
    </li>

    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="font-weight-bold collapsible-header arrow-r active">
            Sala
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Sofa</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Esquinero</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Modular</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Butaca</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Puff</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Sofacama</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Recliner</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Mesa centro</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Sala</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="font-weight-bold collapsible-header arrow-r active">
            Comedor
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Silla</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Mesa</a>
              </li>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Banca</a>
              </li>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Bife</a>
              </li>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Comedor</a>
              </li>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Partes</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="font-weight-bold collapsible-header arrow-r">
            Dormitorio
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Cama</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Nochero</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Tocador</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Comoda</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Marco de espejo</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Marco de espejo</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="font-weight-bold collapsible-header arrow-r">
            Home Officce
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="../product/product-v1.html" class="waves-effect">Product V.1</a>
              </li>
              <li>
                <a href="../product/product-v2.html" class="waves-effect">Product V.2</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="font-weight-bold collapsible-header arrow-r">
            <i class="fas fa-shopping-cart"></i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="../cart/cart-v1.html" class="waves-effect">Cart V.1</a>
              </li>
              <li>
                <a href="../cart/cart-v2.html" class="waves-effect">Cart V.2</a>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </li>
    <div class="sidenav-bg mask-strong"></div>
  </ul>