<section>
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      </ol>
  
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view h-100">
            <img class="d-block h-100 w-lg-100" src="assets/img/banner/prueba_1.jpg" alt="First slide">
            <div class="mask">
  
            </div>
          </div>
        </div>
  
        <div class="carousel-item h-100">
          <div class="view h-100">
            <img class="d-block h-100 w-lg-100" src="assets/img/banner/prueba_2.jpg" alt="Second slide">
            <div class="mask">
              <div class="full-bg-img flex-center white-text">
                <ul class="animated fadeIn col-10 list-unstyled">
                  <li>
                    <p class="h1 dark-grey-text mb-4">
                      <strong>Nemo enim ipsam voluptatem quia voluptas</strong>
                    </p>
                  </li>
                  <li>
                    <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5">Tempora incidunt ut labore et dolore
                      veritatis et quasi architecto beatae</h5>
                  </li>
                  <li>
                    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/"
                      class="btn btn-primary btn-rounded" rel="nofollow">Read more</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="view h-100">
            <img class="d-block h-100 w-lg-100" src="assets/img/banner/prueba_3.jpg" alt="Third slide">
            <div class="mask">
              <div class="full-bg-img flex-center white-text">
                <ul class="animated fadeIn col-md-10 text-center text-md-right list-unstyled">
                  <li>
                    <p class="h1 blue-text mb-4 mt-5 pr-lg-5">
                      <strong>Sale off 20% on every headphones!</strong>
                    </p>
                  </li>
                  <li>
                    <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5 pr-lg-5">Tempora incidunt ut labore et
                      dolore veritatis et quasi</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="container-fluid width-80 mt-4">
      <div class="row pt-1">


        <div class="col-lg-12">
          <div class="tab-content pt-0 px-0">
            <div class="tab-pane fade in show active " id="panel5" role="tabpanel">
              <br>
              <div class="row">
                <div class="col-lg-3 col-sm-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay">
                      <img src="assets/img/cubo3.jpg" class="img-fluid" alt="Promo 1">
                      <a href="ThanksWompis.html">
                        <div class="mask rgba-white-slight"></div>
                        <div class="card-bodynew disp-none">
                          <h5 class="card-title">30% de Dcto. en Salas</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay">
                      <img src="assets/img/cubo1.jpg" class="img-fluid" alt="sample image">
                      <a href="ThanksWompis.html">
                        <div class="mask rgba-white-slight"></div>
                        <div class="card-bodynew disp-none">
                          <h5 class="card-title">30% de Dcto. en Salas</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay">
                      <img src="assets/img/cubo2.jpg" class="img-fluid" alt="sample image">
                      <a href="ThanksWompis.html">
                        <div class="mask rgba-white-slight"></div>
                        <div class="card-bodynew disp-none">
                          <h5 class="card-title">30% de Dcto. en Salas</h5>
                          <p class="card-text ">Some quick example text to build on the card title and make up
                            the bulk.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay">
                      <img src="assets/img/cubo2.jpg" class="img-fluid" alt="sample image">
                      <a href="ThanksWompis.html">
                        <div class="mask rgba-white-slight"></div>
                        <div class="card-bodynew disp-none">
                          <h5 class="card-title">30% de Dcto. en Salas</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>




        <div class="col-12 mt-2">
          <!-- Image rompeciclo -->
          <div class="view">
              <img src="assets/img/rompeciclo.jpg" class="img-fluid"
              alt="sample image">
              <div class="mask rgba-stylish-slight">
                  <div class="text-right pt-lg-5 pt-md-1 mr-5 pr-md-4 pr-0">
                      <div>
                          <a>
                              <span class="badge badge-primary">SALE</span>
                          </a>
                          <h2 class="enkanta-text card-title font-weight-bold pt-md-3 pt-1">
                          <strong>Sale from 20% to 50% on every tablet!
                          </strong>
                          </h2>
                          <p class="white-text pb-lg-3 pb-md-1 clearfix d-none d-md-block">Lorem ipsum dolor sit amet, consectetur
                          adipisicing elit. </p>
                          <a class="btn mr-0 btn-primary clearfix d-none d-md-inline-block">Read more</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Image rompeciclo -->
      </div>
        <div class="col-lg-12">

          <h5 class="font-weight-bold mt-5 dark-grey-text">
            <strong class="mayuscula">Disfrutra en casa</strong>
          </h5>
          <div class="tab-content pt-0 px-0">
            <div class="tab-pane fade in show active" id="panel5" role="tabpanel">
              <br>
              <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay zoom">
                      <img src="assets/img/section1.jpg" class="img-fluid" alt="Salas">
                      <a>
                        <div class="mask flex-center waves-effect waves-light"></div>
                      </a>
                    </div>
                    <div class="card-bodynew btn-hover">
                      <h5 class="card-title mb-0">
                        <strong>
                          <a href="" class="dark-grey-text">Sala</a>
                        </strong>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay zoom">
                      <img src="assets/img/section2.jpg" class="img-fluid" alt="Comedores">
                      <a>
                        <div class="mask flex-center waves-effect waves-light"></div>
                      </a>
                    </div>
                    <div class="card-bodynew">
                      <h5 class="card-title mb-0 btn-hover">
                        <strong>
                          <a href="" class="dark-grey-text">Comedor</a>
                        </strong>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay zoom">
                      <img src="assets/img/section3.jpg" class="img-fluid" alt="Dormitorio">
                      <a>
                        <div class="mask flex-center waves-effect waves-light"></div>
                      </a>
                    </div>
                    <div class="card-bodynew">
                      <h5 class="card-title mb-0 btn-hover">
                        <strong>
                          <a href="" class="dark-grey-text">Dormitorio</a>
                        </strong>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay zoom">
                      <img src="assets/img/section4.jpg" class="img-fluid" alt="Home Office">
                      <a>
                        <div class="mask flex-center waves-effect waves-light"></div>
                      </a>
                    </div>
                    <div class="card-bodynew">
                      <h5 class="card-title mb-0 btn-hover">
                        <strong>
                          <a href="" class="dark-grey-text">Dormitorio</a>
                        </strong>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5 class="font-weight-bold mt-5 dark-grey-text">
            <strong class="mayuscula">Novedades</strong>
          </h5>
          <div class="tab-content px-0 pt-0">
            <div class="tab-pane fade in show active " id="panel5" role="tabpanel">
              <br>
              <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay">
                      <img src="assets/img/promocion1.jpg" class="img-fluid" alt="sample image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <div class="card-bodynew pt-3">
                      <h6 class="card-title mb-1">
                        <a href="" class="dark-grey-text">
                          <span class="badge badge-success z-depth-0">Nuevo</span>
                          <strong>Cama Arles</strong>
                          doble basic 1.40</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                  <div class="card card-ecommerce z-depth-0">
                    <div class="view overlay">
                      <img src="assets/img/prueba6.jpg" class="img-fluid" alt="sample image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <div class="card-bodynew pt-3">
                      <h6 class="card-title mb-1">
                        <a href="" class="dark-grey-text">
                          <span class="badge badge-success z-depth-0 mb-2">Nuevo</span>
                          <strong>
                            Nochero Preston</strong>
                          plata / espejo</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  
