h1, h2, h3, h4, h5, h6, p, textarea, a, button, input, body, select {
    /* font-family: 'Helvetica Neue', sans-serif; */
    /* letter-spacing: .05rem; */
 }

 
 /* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
} */ 

.my-decore a {
     height: 29px !important; 
     line-height: 19px !important;
}

.side-nav .collapsible a {
    color: #333 !important;
}
.side-nav {
    background: #fff !important;
}
@media (min-width: 1200px) {
    .mx-md-newnav {
    margin-left: 13rem !important;
    margin-right:13rem !important;
    }
}

.navbar-skin{
    background-color: #333 !important;
    color: #fff !important;
    font-weight: 600 !important;
}

.navbar.navbar-skin .navbar-toggler-icon {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.enkanta-text{
    color: #19b4d8;
}
.enkanta-bg{
    background-color: #19b4d8;
}

.enkanta-btn {
    color: #fff !important;
    background-color: #19b4d8 !important;
}

.navbar-skin a:hover{
    text-decoration: underline !important;
}

.nav-top {
    margin-top: 70px;
}
@media (min-width:992px) and (max-width:1200px) {
    .nav-top {
    margin-top: 70px;
    }
}

.card-bodynew {
    -ms-flex:1 1 auto;flex:1 1 auto;
    padding: .5rem 0rem;
}

.card-bodynew .card-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;    
}

.btn-hover:hover {
    text-decoration: underline;    
}

.card-bodynew .card-text {
    line-height: 1.2 !important; 
    margin-bottom: 0;
}
.btnnew {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    text-decoration: underline;
    
}


.btnnew:hover { 
    text-decoration: underline;
}

.mayuscula {
    text-transform: uppercase;
}

.padding-0 {
    padding: 0 1rem !important;
}

@media (min-width: 1200px) {
    .width-80 {
        width: 80% !important;
    }
}

.fontsize-1{
    font-weight: 600;
    font-size: 1.4rem;
}

.fontsize-12 {
    font-size: 1.2rem;
}

.font-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.font-title p {
    margin-bottom: 0px !important;
}

.font-result {
    font-size: .5;
    font-weight: 400;
    color: #999;
}

.bgnew-dark{
    background-color: #333;
}

.dark-text{
    color: #333 !important;
}

.dark-text a{
    color: #333 !important;
}

.dark-text li a{
    color: #333 !important;
    display: block !important;
    height: 27px !important;
    /* padding-left: 20px; */
    line-height: 22px !important;
}
.price-new{
    font-weight: 400;
}

.bgnew-cd{
    background-color: #F5F5F5 !important;
}

.under-line a:hover{
    text-decoration: underline !important;
}

.mb-p p{
    margin-bottom: .5rem !important;
}

.font-icon{
    font-size: 1.5rem;
}

.flex-row-reverse{
    -ms-flex-direction:row-reverse!important;
    flex-direction:row-reverse!important
}

.disp-none{
    display: none;
}

.bs-none{
    box-shadow: none !important;
}
@media (min-width: 992px) {
    .dn-responsive {
        display: none;
    }
    .myclase3{
        width: 400px;
    }
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 25%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        list-style-type: none;
        padding-inline-start: 0;
        transform: translateX(-100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform
    }
}
@media (max-width: 992px) {
    .dm-responsive {
        display: none;
    }
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        list-style-type: none;
        padding-inline-start: 0;
        transform: translateX(-100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform
    }
}
  /* Style the buttons */
.btn-f {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: .2rem .75rem;
    border: 1px #d9d8db solid;
    margin: 0 .6rem 0 0;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 0 !important
  }
  
  /* Add a light grey background on mouse-over */
.btn-f:hover {
    color: #333;
    border: 1px #333 solid;
    /* text-decoration: underline; */
  }

.btn-f:focus{
    outline-style: auto;
    outline-width: 0 !important;
    border-radius: 0;
  }
  
  /* Add a dark background to the active button */
.btn-f.active {
    background-color: #f5f5f5;
    color: 333;
    text-decoration: underline;
}

.button-my {
    font-size: .9rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: #333 !important;
    background-color: #fff !important;
    padding: 0.275rem 0.75rem;
    border: .1rem #333 solid !important;
    cursor: pointer;
    display: inline-block;
    margin-right: .4rem !important;
    line-height: 1.5;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.button-my:hover{
    text-decoration: underline !important;
}

.btn-img {
    padding: 0 !important;
    border: 0 !important;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.btn-img img {
    margin: 0 .5rem .5rem;
}
button:focus{
    outline:0 !important;
    outline:0 !important;
}

.btn-img img:active {
    border: 0px;
}

.navbar-toggler {
    color: #333 !important;
}

.card-footer {
    border-top: 0px !important;
}

.fontw-300{
    font-family: "Helvetica_Neue_light", sans-serif !important;
}

.fontw-400{
    font-family: "Helvetica_Neue_medium", sans-serif !important;

}

.fontw-500{
    font-family: "Helvetica_Neue_bold", sans-serif !important;
}

.fontw-600{
    font-family: "Helvetica_Neue_roman", sans-serif !important;
}

.fontw-700{
    font-family: "Helvetica_Neue_heavy", sans-serif !important;
}

.spasing_01{
     letter-spacing: .01rem;
}

.spasing_02{
    letter-spacing: .02rem;
}

.spasing_05{
    letter-spacing: .05rem;
}


.ruta-dir {
    font-size: .8rem !important;
    color: #999;
}

.ruta-dir a {
    color: #999;
    text-decoration: underline;
}

.ruta-dir a:hover {
    text-decoration: underline ;
    color: #666;
}

@media (max-width: 425px) {
    .ruta-dir {
        font-size: .6rem !important;
    }
    .font-title{
        font-size: 1.5rem;
    }
    .navbar-brand{
        margin-right: 0px !important;
    }
    .disp-n-m {
        display: none !important;
    }
}

@media (max-width: 320px) {
    .ruta-dir {
        display: none;
    }
}

@media (max-width: 520px) {
    .btn-f {
        font-size: .8rem;
        padding: .1rem .8rem !important;
        margin: 0 .2rem 0 0;
      }
}

@media (max-width: 375px) {
    .btn-f {
        font-size: .7rem;
        padding: .1rem .6rem !important;
        margin: 0 .2rem 0 0;
      }
}
/* Filter */

/* Neewsletter */

.newsletter {
padding: 0 0;
}

.newsletter {
max-width: 50rem;
text-align: center;
position: relative;
z-index: 2; 
}

.newsletter h2 {
color: #333;
margin-bottom: 10px; 
}

.newsletter .form-control {
    min-height: 40px;
    border-color: #ffffff;
    border-radius:0;
}

.newsletter .form-control:focus {
box-shadow: none;
border: 1px solid #333;
}

.newsletter .btn-new {
margin: 0;
min-height: 38px; 
border-radius:0;
background: #333;
color: #fff;
font-weight:600;
box-shadow: none;
}

.btn-new {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.newsletter .btn-new:hover{
    text-decoration: underline;
}
/* Neewsletter */
.dark-text li:hover{
    text-decoration: underline !important;
}

li .active {
    /* background: rgb(22, 129, 236); */
    text-decoration: underline !important;
}

.close-my {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1;
    color: #333;
    padding-top: 13px !important;
    padding-left: 24px !important;
}
button.close-my {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.my-size {
    font-size: 1.5rem;
}

.breadcrumb-list-item:after{
    content:"";display:inline-block;
    border:1px solid #666;
    border-width:0 1px 1px 0;
    padding:2px;transform:rotate(315deg);-webkit-transform:rotate(315deg);
    position:relative;top:-.07em;
    margin:0 8px;
}