

<footer class="page-footer text-center text-md-left bgnew-cd pt-5">
    <div class="container-fluid width-80 bgnew-cd">
      <div class="row">
        <div class="col-lg-3  text-center font-icon">
          <a class="ins-ic px-2">
            <i class="fab fa-instagram dark-text"></i>
          </a>
          <a class="fb-ic ml-0 px-2">
            <i class="fab fa-facebook-f dark-text"></i>
          </a>
          <a class="tw-ic px-2">
            <i class="fab fa-twitter dark-text"></i>
          </a>
        </div>
        <div class="newsletter bgnew-cd col-lg-9">
          <h2 class="fontsize-1 mt-3 mr-5 dn-responsive">Suscribete a nuestro newsletter</h2>
          <div class="input-group">
              <h2 class="fontsize-1 mt-1 mr-5 dm-responsive">Newsletter</h2>
              <input type="text" class="form-control" placeholder="Correo" id="mail" name="email">
              <div class="input-group-append">
                  <button class="input-group-text btn-new">Suscribete</button>
              </div>
          </div>
      </div>
      </div>
  
    </div>
    <div class="container-fluid width-80 ml-auto mr-auto mt-5 mb-4 text-center text-md-left dark-text under-line mb-p">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Nosotros</strong>
          </h6>
          <hr class="grey darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Encuentra soluciones practicas e innovadoras a las necesidades de tu hogar.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Productos</strong>
          </h6>
          <hr class="grey darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Salas</a>
          </p>
          <p>
            <a href="#!">Comedores</a>
          </p>
          <p>
            <a href="#!">Dormitorio</a>
          </p>
          <p>
            <a href="#!">Home Office</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Garantías</strong>
          </h6>
          <hr class="grey darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Solicitud de pqr</a>
          </p>
          <p>
            <a href="#!">Politicas de servicio</a>
          </p>
          <p>
            <a href="#!">Cuidado del mueble</a>
          </p>
          <p>
            <a href="#!">Ayuda</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Contácto</strong>
          </h6>
          <hr class="grey darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>
            Oficinas Barranquilla / Atlántico</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>
            ventas@muebleros.com.co</p>
          <p>
            <i class="fas fa-phone mr-3"></i>
            +57 300457523
          </p>
          <p>
            <i class="fas fa-print mr-3"></i>
            +57 365907054
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright width-80 mr-auto ml-auto mt-5 py-3 text-center dark-text">
      <div class="container-fluid">
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">
          muebleros.co
        </a>
      </div>
    </div>
  </footer>